$color1:red;
$color2:brown;

th{
	color:$color1;
}

td{
	color:$color2;
}

div{
	p{
		color:teal;
	}
	h2{
		color:burlywood;
	}
}

%message{
	border: 1px solid black;
	font-weight: 14px;
}

.class1{
	@extend %message;
	color: red;
}
.class2{
	@extend %message;
	color:blue;
}
.class3{
	@extend %message;
	color: green;
}
