#info1{
	color:burlywood;
	text-align:left;
}
#info2{
	color:teal;
	text-align:left;
}
.span{
	color:cyan;
	text-align:left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:lightgray;
  padding:20px;
}

li {
  display: inline;
  margin:5px;
}
body{
	background-color:black;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: maroon;
  }
